<div style="height: 20px">
  <h1
    style="
      color: white;
      height: 60px;
      background-color: rgb(34, 37, 57);
      text-align: center;
    "
  >
    Confirmation Page
  </h1>
</div>
<div class="checkout-details d-flex justify-content-center">
  <div class="main">
    <div class="banner"></div>
    <div class="details">
      <p class="para">
        <img
          src="{{ movieData?.banner }}"
          width="250px"
          height="140px"
          alt="banner"
        />
      </p>
      <p class="para">Movie Name: {{ movieData?.name }}</p>
      <p class="para">Theater Name: {{ theaterData?.theatreName }}</p>
      <p class="para">Movie Duration: {{ movieData?.duration }}</p>
      <p class="para">Seat No: {{ selectedSeats }}</p>
      <p class="para">Total Price: {{ selectedSeats?.length * price }}</p>
    </div>

    <div>
      <a [routerLink]="['/payment']" class="button">Click to Pay</a>
    </div>
    <br />
  </div>
</div>
