<div>
    <div><h1 style="text-align: center;">Movies List</h1></div>
 
</div>
<div class="container">
    <div class="row">
        <div class="col-4 movieBox" *ngFor="let movie of moviesList">
            <div class="movieDetail">
                <p>{{ movie?.name }}</p>
                <p>{{ movie?.duration}}</p>
                <p>{{ movie?.language}}</p>
                <p>{{ movie?.genre}}</p>
                <img src={{movie?.banner}}  width="200" height="90" alt="banner" style="margin-bottom:5px ;" />
            </div>
        </div>
    </div>
</div>