<div class="">
  <div>
    <div class="hm"><h1 style="text-align: center">Movies List</h1></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4 movieBox" *ngFor="let movie of moviesList">
        <div class="movieDetail">
          <p>Movie Name : {{ movie?.name }}</p>
          <p>Movie Duration : {{ movie?.duration }}</p>
          <p>Movie Language : {{ movie?.language }}</p>
          <p>Movie Genre : {{ movie?.genre }}</p>
          <img
            src="{{ movie?.banner }}"
            width="200"
            height="90"
            alt="banner"
            style="margin-bottom: 5px"
          />
        </div>
      </div>
    </div>
  </div>
</div>
