<div style="color: white; background-color: rgb(34, 37, 57)">
  <div style="height: 60px">
    <h1 style="text-align: center">
      Movies List
      <span style="float: right; padding-right: 10px">
        <button class="btn btn-danger" (click)="addMovie()">ADD MOVIE</button>
      </span>
    </h1>
  </div>
  <div style="text-align: center"></div>
</div>
<div class="container" style="color: black">
  <div class="row">
    <div class="col-4 movieBox" *ngFor="let movie of moviesList">
      <div class="movieDetail">
        <p>{{ movie?.name }}</p>
        <p>{{ movie?.duration }}</p>
        <p>{{ movie?.language }}</p>
        <p>{{ movie?.genre }}</p>
        <img
          src="{{ movie?.banner }}"
          width="200"
          height="90"
          alt="banner"
          style="margin-bottom: 5px"
        />
        <div>
          <!-- Edit movie modal -->
          <button
            type="button"
            (click)="onClickEdit(movie.id)"
            class="btn btn-info"
          >
            Edit movie</button
          >&nbsp;&nbsp;
          <button class="btn btn-danger" (click)="deleteMovie(movie.id)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
