.payment-details {
  align-self: center;
  border: 1px solid green;
  padding: 5px 10px;
  align-items: center;
  margin: 50px 500px;
  text-align: center;
  background-color: rgb(34, 37, 57);
  color: white;
}
.form_payment {
  padding: 10px 0;
}
